.game-timer {
  --size: 60vmin;
  --stroke: 3;

  position: absolute;
  top: calc(50% - var(--size) * .5);
  left: calc(50% - var(--size) * .5);
  width: var(--size);
  height: var(--size);
}

.game-timer path {
  fill: transparent;
  stroke: var(--white);
  stroke-width: var(--stroke);
  stroke-linecap: round;
}

.game-timer circle {
  fill: transparent;
  stroke: var(--white);
  stroke-width: var(--stroke);
  opacity: .5;
}
