{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-empty-source": null,
    "no-eol-whitespace": null,
    "no-descending-specificity": null,
    "color-hex-length": "long",
    "indentation": [
      2,
      {
        "baseIndentLevel": 1
      }
    ],
    "string-quotes": "single",
    "declaration-colon-newline-after": null,
    "number-leading-zero": "never"
  }
}
