{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-empty-source": null,
    "no-eol-whitespace": null,
    "no-descending-specificity": null,
    "color-hex-length": "long",
    "indentation": null,
    "declaration-colon-newline-after": null,
    "number-leading-zero": "never"
  }
}
