[build]
  command = "npm run build"
  publish = "dist/client"
  [build.environment]
    NODE_ENV = "development"
    NODE_VERSION="14"
    NPM_CONFIG_AUDIT = "false"
    NPM_CONFIG_PRODUCTION = "false"
    NPM_CONFIG_OPTIONAL = "false"
    NPM_FLAGS = "--ignore-scripts"
    DEFAULT_LOCALE = "nl"
  [build.processing]
    skip_processing = true

[[redirects]]
  from = "http://voorhoede.nl/"
  to = "https://www.voorhoede.nl/"
  force = true
  status = 301

[[redirects]]
  from = "/"
  to = "/nl"
  force = true
  status = 302
  conditions = {Language = ["nl"]}

[[redirects]]
  from = "/"
  to = "/en"
  force = true
  status = 302
