[build]
command = "npm run build"

[build.environment]
NODE_ENV = "production"
NPM_CONFIG_AUDIT = "false"
NPM_CONFIG_FUND = "false"
NPM_FLAGS = "--ignore-scripts"

[build.processing.html]
pretty_urls = true

[[headers]]
for = "/*"
[headers.values]
Strict-Transport-Security = "max-age=63072000; includeSubDomains; preload"
Referrer-Policy = "no-referrer-when-downgrade"

[[redirects]]
from = "/"
to = "/nl/"
status = 302
conditions = { Language = ["nl"] }

[[redirects]]
from = "/"
to = "/en/"
status = 302

[[redirects]]
from = "/blog-feed.xml"
to = "/blog/feed.json"
status = 301

[[redirects]]
from = "/mogelijk/api/event"
to = "https://plausible.io/api/event"
status = 200

[[redirects]]
from = "/en/blog/"
to = "/en/blog/page/1"
status = 301

[[redirects]]
from = "/nl/blog/"
to = "/nl/blog/page/1"
status = 301
