:root {
  --button-group-spacing: var(--spacing-smaller);
}

.button-group .app-button {
  vertical-align: middle;
  margin-top: var(--button-group-spacing);
  margin-right: var(--button-group-spacing);
}

.button-group .app-button--primary {
  min-width: min-content;
}

.button-group .app-button--secondary {
  margin-top: calc(var(--button-group-spacing) * 2);
}

.skip-link.app-button {
  position: absolute;
  z-index: var(--z-index-overlay);
  top: var(--spacing-small);
  left: -9999rem;
}

.skip-link:focus {
  left: var(--spacing-small);
}
