:root {
  --form-select-caret: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6"%3e%3cpath fill="%23070de9" d="M5.487 5.22L10.4.42H.573l4.914 4.8z" /%3e%3c/svg%3e');
  --form-select-caret-width: .6875rem; /* 11px */
}

.input-field {
  margin-top: var(--spacing-small);
  display: block;
  font-family: var(--font-sans);
}

.input-field__label {
  color: var(--html-blue);
}

.input-field__error {
  display: block;
  color: var(--soft-red);
}

.input-field + .input-field {
  margin-top: var(--spacing-medium);
}

input,
select,
textarea {
  margin-top: var(--spacing-tiny);
  padding: 2px 5px;
  display: block;
  width: 100%;
  border: 1px solid var(--html-blue);
  background-color: transparent;
}

input,
select {
  min-height: 30px;
}

input:focus,
select:focus,
textarea:focus {
  margin-bottom: -2px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-width: 2px;
  outline: none;
}

input.is-invalid,
select.is-invalid,
textarea.is-invalid {
  border-color: var(--soft-red);
}

select {
  border-radius: 0;

  /* Before and after's don't work on select elements, so that's why we're using a background for the caret */
  background: var(--form-select-caret);
  background-size: var(--form-select-caret-width);
  background-repeat: no-repeat;
  background-position: 100%;
  -webkit-appearance: none;
  appearance: none;
}

::placeholder {
  color: var(--dim);
}
