.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

/*
 * Overwrite all transitions,
 * since user with reduced motion enabled find it really important
 */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
