:root {
  --form-element-margin: .9375rem; /* 15px */
  --form-element-space-inbetween: 1.5625rem; /* 25px */
  --form-element-padding: .3125rem; /* 5px */
  /* Before and after's don't work on select elements, so that's why we're using a background for the caret */
  --form-select-caret: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 6"%3e%3cpath fill="%23070de9" d="M5.487 5.22L10.4.42H.573l4.914 4.8z" /%3e%3c/svg%3e');
  --form-select-caret-width: .6875rem; /* 11px */
}

label {
  margin-top: var(--form-element-margin);
  display: block;
  font-family: var(--font-sans);
}

label > span {
  color: var(--html-blue);
}

label + label {
  margin-top: var(--form-element-space-inbetween);
}

input {
  padding: 0;
  padding-top: var(--form-element-padding);
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--html-blue);
  display: block;
  font-family: var(--font-sans);
}

input:focus {
  margin-bottom: -1px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-bottom-width: 2px;
  outline: none;
}

input:invalid {
  border-color: var(--soft-red);
}

::placeholder {
  color: var(--v-dim);
}

select {
  padding: 0;
  padding-top: var(--form-element-padding);
  display: block;
  width: 100%;
  background: var(--form-select-caret);
  background-size: var(--form-select-caret-width);
  background-repeat: no-repeat;
  background-position: 100%;
  border: none;
  border-bottom: 1px solid var(--html-blue);
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select:focus {
  margin-bottom: -1px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-bottom-width: 2px;
  outline: none;
}

textarea {
  margin-top: var(--form-element-padding);
  padding: 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--html-blue);
}

textarea:focus {
  margin-bottom: -1px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-bottom-width: 2px;
  outline: none;
}

textarea:invalid {
  border-bottom-color: var(--soft-red);
}
