:root {
  --form-element-margin: .9375rem;
  --form-element-space-inbetween: 1.5625rem;
  --form-element-field-padding: .3125rem;
  /* Before and after's don't work on select elements, so that's why we're using a background for the caret */
  --form-select-caret: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2734%27 height=%2738%27 viewBox=%270 0 34 38%27%3E%3Cpath fill=%27%23000%27 d=%27M13 17h8l-4 4.5%27/%3E%3C/svg%3E');
}

label {
  margin-top: var(--form-element-margin);
  display: block;
  color: var(--html-blue);
}

label + label {
  margin-top: var(--form-element-space-inbetween);
}

input {
  padding: var(--form-element-field-padding) 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--html-blue);
  display: block;
}

input:focus {
  margin-bottom: -1px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-bottom-width: 2px;
  outline: none;
}

input:invalid {
  border-color: var(--soft-red);
}

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-placeholder {
  color: var(--v-dim);
}

select {
  padding: var(--form-element-field-padding) 0;
  display: block;
  width: 100%;
  background: var(--form-select-caret);
  background-repeat: no-repeat;
  background-position: 100%;
  border: none;
  border-bottom: 1px solid var(--html-blue);
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select:focus {
  margin-bottom: -1px; /* Decrease the margin-bottom, to prevent jump caused by enlarged border */
  border-bottom-width: 2px;
  outline: none;
}
