.demo-content {
  position: relative;
  text-align: left;
  padding: 1em;
  background-color: #f5f2f0;
}
.demo-content:after {
  content: '';
  background-color: #0CAFCD; /* @brand-alt */
  position: absolute;
  left: 0;
  height: 2px;
  bottom: 0;
  -webkit-animation: 4s linear 0s infinite timeline;
  animation: 4s linear 0s infinite timeline;
}
@keyframes timeline {
  0%		{ width: 0%; }
  100%	{ width: 100%; }
}
@-webkit-keyframes timeline {
  0%		{ width: 0%; }
  100%	{ width: 100%; }
}

.demo-content--avatar {
  min-height: calc(2em + 40px + 10px); /* vertical padding + avatar height + extra space to prevent page reflow */
}
.demo-content--avatar img {
  display: inline-block;
  margin-right: .5em;
  border-radius: 50%;
}

.demo-content--ratio img {
  display: block;
  margin-top: .5em;
  margin-bottom: 1em;
  max-width: 100%;
}

.demo-content--fixed img {
  background-color: #B3B3B3; /* @brand-downplay */
}

.fixed-ratio[data-demo-spacer="off"] {
  padding-bottom: 1px !important; /* same size as blank pixel */
}
