.demo-content {
  padding: 1em;
  background-color: #f5f2f0;
  font-family: Georgia;
  line-height: 1.2;
  text-align: left;
}

.demo-content--wrap,
.demo-content--cut,
.demo-content--scroll {
  font-size: 5vw;
}

.demo-content--cut p {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.demo-content--scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}
.demo-content--scroll p {
  display: inline-block;
  white-space: nowrap;
}

.demo-content--calc p {
  /* borrowed from https://www.smashingmagazine.com/2016/05/fluid-typography/ */
  font-size: calc( 1.2em + (24 - 16) * (100vw - 400px) / (800 - 400));
}

.demo-content--stretch p {
  line-height: 1;
}

#scroll-it + p + .content-figure {
  position: relative;
}

#scroll-it + p + .content-figure:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: calc(100% - 60px);
  background: linear-gradient(to right,
    rgba(245,242,240,0.1) 0%,
    rgba(245,242,240,0.4) 25%,
    rgba(245,242,240,0.7) 56%,
    rgba(245,242,240,0.9) 78%,
    rgba(245,242,240,1) 94%);
  );
}

@media (min-width: 800px) {
  #scroll-it + p + .content-figure:after {
    right: 2rem;
  }
}
