:root {
  --animation-shift-transition: transform .3s cubic-bezier(.47, 0, .29, .98);
  --animation-shift-transform: translateX(var(--grid-margin));
}

@keyframes blink {
    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
