:root {
  --button-group-spacing: var(--spacing-smaller);
}

.button-group .app-button {
  vertical-align: middle;
  margin-top: var(--button-group-spacing);
  margin-right: var(--button-group-spacing);
}

.button-group .app-button--primary {
  min-width: min-content;
}

.button-group .app-button--secondary {
  margin-top: calc(var(--button-group-spacing) * 2);
}
