/* Only add padding when class is put on an actual <ul> or <ol> element */
ul.list,
ol.numbered-list {
  padding-left: var(--spacing-small);
}

/* Create a counter for numbered lists */
ol.numbered-list,
.numbered-list ol {
  counter-reset: numberedList;
}

ul.list > li,
.list ul > li,
ol.numbered-list > li,
.numbered-list ol > li {
  position: relative;
  padding-left: 0;
}

/* Adds margin-top to all <li>, except the first <li> */
ul.list > li + li,
.list ul > li + li,
ol.numbered-list > li + li,
.numbered-list ol > li + li {
  margin-top: var(--spacing-tiny);
}

ul.list > li::before,
.list ul > li::before,
ol.numbered-list > li::before,
.numbered-list ol > li::before {
  position: absolute;
  left: calc(-1 * var(--spacing-small));
  width: 3px;
  color: var(--black);
  color: currentColor;
}

ul.list > li::before,
.list ul > li::before {
  content: '•';
}

ol.numbered-list > li::before,
.numbered-list ol > li::before {
  counter-increment: numberedList;
  content: counter(numberedList) '.'; /* 1. , 2. etc. */
}

@media (min-width: 720px) {
  ul.list,
  ol.numbered-list {
    padding-left: var(--spacing-medium);
  }
}

@media (min-width: 1100px) {
  ul.list > li::before,
  .list ul > li::before,
  ol.numbered-list > li::before,
  .numbered-list ol > li::before {
    left: calc(-1 * var(--spacing-medium));
  }
}
