/* Only add padding when class is put on an actual <ul> or <ol> element */
ul.list,
ol.numbered-list {
  padding-left: var(--spacing-medium);
}

/* Create a counter for numbered lists */
ol.numbered-list,
.numbered-list ol {
  counter-reset: numberedList;
}

ul.list > li,
.list ul > li,
ol.numbered-list > li,
.numbered-list ol > li {
  position: relative;
  padding-left: 0;
  font-family: var(--font-sans);
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5625; /* 25px */
}

ul.list > li + li,
.list ul > li + li,
ol.numbered-list > li + li,
.numbered-list ol > li + li {
  margin-top: var(--spacing-tiny);
}

ul.list > li::before,
.list ul > li::before,
ol.numbered-list > li::before,
.numbered-list ol > li::before {
  position: absolute;
  left: calc(-1 * var(--spacing-medium));
  width: 3px;
  color: var(--black);
  color: currentColor;
  font-size: 1.25rem; /* 20px */
  line-height: 1.3;
}

ul.list > li::before,
.list ul > li::before {
  content: '•';
}

ol.numbered-list > li::before,
.numbered-list ol > li::before {
  counter-increment: numberedList;
  content: counter(numberedList) '.'; /* 1. , 2. etc. */
}

@media (min-width: 720px) {
  ul.list > li,
  .list ul > li,
  ol.numbered-list > li,
  .numbered-list ol > li {
    font-size: 1.0625rem; /* 17px */
    line-height: 1.5882352941; /* 27px */
  }
}

@media (min-width: 1100px) {
  ul.list > li,
  .list ul > li,
  ol.numbered-list > li,
  .numbered-list ol > li {
    font-size: 1.125rem; /* 18px */
    line-height: 1.6111111111; /* 29px */
  }
}
