/* Only add padding when class is put on an actual <ul> element */
ul.list {
  padding-left: var(--spacing-small);
}

.list li {
  position: relative;
  padding-left: 0;
}

.list li + li {
  margin-top: var(--spacing-tiny);
}

.list li::before {
  content: '•';
  position: absolute;
  left: calc(-1 * var(--spacing-small));
  width: 3px;
  color: var(--black);
  color: currentColor;
}

@media (min-width: 720px) {
  ul.list {
    padding-left: var(--spacing-medium);
  }

  .list li::before {
    left: calc(-1 * var(--spacing-medium));
  }
}
