.hero {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.8125;
}

.sub-title {
  font-size: 1.3125rem;
  line-height: 1.625;
}

.testimonial {
  font-size: 1.8125rem;
  line-height: 2.625;
}

.sub-title-2 {
  font-size: 1.25rem;
  line-height: 1.75;
}

.pullquote {
  font-size: 1.125rem;
  line-height: 1.5625;
}

.h1 {
  font-size: 2.4375rem;
  font-weight: 700;
  line-height: 2.75;
}

.h2 {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 2.5;
}

.h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125;
}

.h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25;
}

.h5 {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 2.75;
}

.body-big {
  font-size: 1.125rem;
  line-height: 1.875;
}

.body {
  font-size: 1rem;
  line-height: 1.5625;
}

.body-petite {
  font-size: 0.875rem;
  line-height: 1.3125;
}

.body-detail {
  font-size: 0.75rem;
  line-height: 1.125;
}


