:root {
  /* COLORS */
  --brand-yellow: #ffe400;
  --active-yellow: #e9d100;
  --html-blue: blue;
  --active-blue: #0005be;
  --bg-pastel: #fffed9;
  --v-dim: #cccccc;
  --black: #222222;
  --off-black: #555555;
  --dim: #888888;
  --very-dim: #cccccc;
  --fog: #f6f6f6;
  --white: #ffffff;
  --soft-red: #ff3e3e;

  /* FONTS */
  --font-sans: apercu, sans-serif;

  /* SPACING */
  --spacing-xxxs: 5px;
  --spacing-xxs: 10px;
  --spacing-xs: 15px;
  --spacing-s: 25px;
  --spacing-m: 35px;
  --spacing-l: 55px;
  --spacing-xl: 75px;
  --spacing-xxl: 110px;
  --spacing-xxxl: 150px;
}
