:root {
  /* COLORS */
  --brand-yellow: #ffe400;
  --html-blue: #070de9;
  --active-blue: #0005BE;
  --bg-pastel: #fffed9;
  --black: #222222;
  --off-black: #555555;
  --dim: #888888;
  --v-dim: #cccccc;
  --fog: #f6f6f6;
  --white: #ffffff;
  --soft-red: #ff3e3e;

  /* FONTS */
  --font-sans: apercu, sans-serif;
}
